/* .login-container {
  width: 100%;
  height: 100vh;
  position: relative;
}

.asset1 {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  word-wrap: break-word;
}

.asset2 {
  position: absolute;
  bottom: 0;
  left: 0;
}

.login-form {
  width: 100%;
  height: 100vh;
  flex: 1;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}

.left-side {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-btn {
  background-color: orange;
  width: 75%;
  height: 10%;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  font-size: large;
  align-items: center;
  margin-top: 2.5rem;
  cursor: pointer;
  font-family: 'Poppins';
  text-shadow: 1px 1px 2px black;
  border: none;
}

.login-btn:hover {
  color: black;
  background-color: aliceblue;
  text-shadow: none;
  border: 2px solid orange;
}

.input-tags {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

label {
  font-size: larger;
  font-weight: bold;
  text-align: left;
}

input {
  border-radius: 9px;
  font-size: larger;
  padding: 0.5rem;
  width: 100%;
}

.input-form {
  position: absolute;
  width: 100%;
  height: 30vh;
  margin-bottom: 120px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem
}

.right-side {
  flex: 0.5;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.showpass-icon-contianer:hover {
  color: grey;
}

.login-form-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40vh;
  width: 90%;
  gap: 2rem;
  margin-bottom: 8.5rem;
}

.svg {
  height: 50vh;
  width: 100%;
}

.login-error .input-tags input {
  border: 1px solid red;
  box-shadow: 0 0 5px red;
}

.login-error .input-tags input:focus {
  box-shadow: none;
}

.greeting {
  margin-top: 1rem;
}

.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


@media (max-width: 600px) {
  .app-logo {
    z-index: 100 !important;
  }

  .login-form {
    margin-top: 4rem;
  }

  .asset1 {
    width: 300px !important;
  }

  .asset2 {
    width: 300px !important;
  }

  .greeting {
    margin-top: 4rem;
    font-size: medium;
  }

  .svg {
    height: 40vh;
  }

  label {
    font-size: small;
  }
}

@media (max-width: 450px) {
  body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

  }
}

.login_h2 {
  color: #F7941D;
  font-family: Lexend;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.emaail_label {
  color: #575757;
  font-family: sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#logout_button:hover {
  cursor: pointer;

}
.navoptions{
  color: white;
}
.nav-link:hover {
  color: green !important;
} */











@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,800&display=swap');

body{
    padding: 0;
    margin: 0;
}
.navv{
    background-color:#ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    position: fixed;
  top: 10;
  left: 0;
  z-index: 999; /* Ensures the navbar is on top of other content */
  box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}
.navbar-links ul li {
  position: relative;
}

.navbar-links ul li a {
  position: relative;
  display: inline-block;
  color: #1a1b1e;
  text-decoration: none;
  font-size: large;
}
.navbar-links ul li a:hover{
  color: #0ac775;

}

.navbar-links ul li a .line {
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 0;
  height: 2.5px;
  background-color: #0ac775;
  transition: width 0.3s ease;
}

.navbar-links ul li a:hover .line {
  width: 100%;
  color: #0ac775;

}
.hide{
  display: block;
}


.icon{
    display: flex;
    justify-content: space-between;
    align-content: center;
    /* background-color: grey; */
    /* padding: 3px; */
    /* height: 90%; */
    /* width: 40px; */
}
.icon h3{
    font-size: 20px;
    font-weight: 20px;
    /* padding-top: 4px; */
    padding-left: 2px;
}

ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 10px;
    margin-right: 300px;
    /* background-color: grey; */
}
li{
    display: inline;
    /* padding: 10px; */
}
a:hover{
    color: #0ac775;
    text-decoration: none;
    
}

.a{
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    margin-left: 70px;
    color: #1a1b1e;
    display: inline-block;
    /* padding: 20px ; */
    line-height: 35px;
    text-decoration: none;
    text-align: center;
    outline: none;
    color: #1a1b1e;
    white-space: nowrap;
    -webkit-transition: all 0.2s ease-out 0s;
    -moz-transition: all 0.2s ease-out 0s;
    -o-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
    /* cursor: default; */


}
.h1{
    align-items: center;
    font-size: 40px;
    margin: 16px 0;
}
h2{
    font-weight: 800;
    font-size: 24px;
    margin: 16px 0;

}
p{
    font-weight: 400;
    font-size: 16px;
    margin: 16px 0;
}
img{
    /* width: 90%; */
    height: auto;
}
.rows{
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    margin: auto;
    box-sizing: border-box;
}

section{
    padding: 40px 0;

}

hr{
    width: 20%;
}
.about-hr{
    width:90%;
}
.headings{
    padding:50px;
}
.headings h1{
    font-size: 40px;
}




.about-left{
    flex-basis: 50%
}
.about-right{
    flex-basis: 50%;
}
.button{
    background-color: #007BFF;
    border:none;
    border-radius: 4px;
    display: inline;
    color: white;
    padding:5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.button:hover{
    background-color: rgb(25, 109, 227);
}

.search-box{
    border: none;
    border-radius: 5px;
    display: inline;
    font-size: 16px;

}
.search-btn{
    border: 1px solid #4CAF50;
    background-color: #343A40;
    border-color: green;
    border-radius: 2px;
    color:#4CAF50;
    padding:3px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;

}
.search-btn:hover{
    background-color: green;
    color: white;
    cursor: pointer;
}
.services{
    display: flex;
    justify-content: space-between;
    margin: 70PX;
}


.services-left,.services-mid,.services-right{
    flex-basis: 30%;
    border: 1px solid rgba(0,0,0,.125);
}
.button{
    margin: 10px;
}
.services img{
    width: 100%;
}

.phn,.join-us,.btn{
    background-color: #007BFF;
    color: white;
    text-align: center;
}
.phn h4,.join-us h4{
    font-size: 50px;
    font-family:BlinkMacSystemFont;
}

.contact-btn{
    background-color: #FFC107;
    border:none;
    border-radius: 4px;
    display: inline;
    color:black;
    padding:5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

.contact-btn:hover{
    background-color: #bc9d3e;
}

.g-row1,.g-row2,.g-row3{
    display: flex;
    width: 80%;
    gap: 10%;
    padding: 10px;
    margin: auto;
}


.form input[type=text], input[type=number], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
.form {
    align-content: space-between;
    border-radius: 5px;
    padding: 20px;
    width: 40%;
    margin: auto;
  }
.form label{
    font-weight: 400;
    font-size: 16px;

}


.ftr {
    background-color:black;
    color: white;
    line-height: 10px;
    text-align: center;
    height: 100%;
    padding: 5px;
}

.togglebutton {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.togglebutton .lines {
    height: 3px;
    width: 100%;
    background-color: rgb(13, 12, 12);
    border-radius: 10px;
}
.logo{
  width: 200px;
}


@media screen and (max-width:770px){
    .togglebutton {
        display: flex;
        height: 16px;
        margin-top: -6px;
        
    }
    .navbar-links{
        display: none;
        width: 100%;
    }
    .navv{
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        width: 100%;
    }
    ul{
        flex-direction: column;
    }
    li{
        text-align: center;
    }
    .navbar-links.active{
        display:block;
    }
    .services{
        display: flex;
        flex-direction: column;
    }
    .services-left,.services-mid,.services-right{
        flex-direction: column;
        width: 100%;
        height: 50vh;
    }
    .g-row1,.g-row2,.g-row3{
        display: flex;
        flex-direction: column;
    }
    .rows{
        flex-direction: column;
    }

    .search-box{
        display: none;
    }
    .logo{
        display: flex;
        justify-content: space-between;
    }  
    .form {
        display: flex;
        flex-direction: column;
    }
    .icon{
      display: flex;
      justify-content: space-between;
      align-content: center;
      padding: 3px;
      /* height: 100%; */
      width: 10px;
  }
  .logo{
    width: 130px;
    padding: 0px;
  }
  .hide{
    display:none;
  }
}